html {
    box-sizing: border-box;
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(13, 1fr);;
  grid-template-rows: repeat(6, 1fr);;
  grid-column-gap: 30px;
}

.header,
.footer,
h1,
h2 {
  font-family: 'Nosifer', cursive;
}

.header {
  grid-area: 1 / 3 / 2 / 12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-bckgrnd {
  grid-area: 1 / 1 / 2 / 14;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigation li {
  display: inline;
  margin-right: 20px;
}

.main {
  grid-area: 2 / 3 / 3 / 12;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.3em;
  padding: 20px 0;
  text-align: center;
}

.main h1,
.main h2 {
  font-size: 2.3em;
  line-height: 1.3em;
  text-shadow: 0 0 0.5em #fff, 0 0 0.5em #fff, 0 0 0.5em #fff;
}

.main-copy {
  margin-left: 50px;
}

.main-bckgrnd {
  grid-area: 2 / 1 / 3 / 14;
  background: url('../../img/header-bg.jpg') center center no-repeat;
  background-size: cover;
}

.blurb {
  grid-area: 3 / 3 / 3 / 12;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86%;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.3em;
  padding: 20px 0;
}

.blurb-bckgrnd {
  grid-area: 3 / 1 / 4 / 14;
}

.feature1,
.feature2,
.feature3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 10px;
}

.feature1 {
  grid-area: 4 / 3 / 5 / 6;
}

.feature2 {
  grid-area: 4 / 6 / 5 / 9;
}

.feature3 {
  grid-area: 4 / 9 / 5 / 12;
}

.featured-copy {
  padding-top: 20px;
}

.featured-copy p {
  line-height: 1.3em;
}

.register {
  grid-area: 5 / 5 / 6 / 10;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-bckgrnd {
  grid-area: 5 / 1 / 6 / 14;
}

.footer-bckgrnd {
  grid-area: 6 / 1 / 7 / 14;
}

.footer {
  grid-area: 6 / 3 / 7 / 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer li {
  display: inline;
}

a {
  color: black;
}
  
img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 10px solid black;
}

.btn {
  background-color: #e20000;
  padding: 10px;
  width: 221px;
  height: 75px;
  font-size: 2em;

}

form.form-example {
    display: table;
}

div.form-example {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label, 
input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

h1,
h2,
h3,
.header a {
  color: #e20000;
  text-transform: uppercase;
}
.effect5 {
  position: relative;
}

.effect5:before,
.effect5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}

.effect5:after {
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
